In [1]:
%matplotlib ipympl

In [2]:
import requests as rq
import csv
import pandas as pd

In [ ]:
ny_times_timeseries_url = r'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'

# John's Hopkins
# https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/03-31-2020.csv # regular format

In [16]:
def read_remote_csv(url):
    # read csv from url
    response = rq.get(url)
    csv_reader = csv.reader(response.text.split('\n'), delimiter=',')
    header = next(csv_reader)

    csv_data = [row for row in csv_reader]
    return (header, csv_data)

def read_local_csv(file_path):
    # read csv from url
    with open(file_path,'rt') as file:
        csv_reader = csv.reader(file, delimiter=',')
        header = next(csv_reader)

        csv_data = [row for row in csv_reader]
        
    return (header, csv_data)

In [5]:
header, csv_data = read_remote_csv(ny_times_timeseries_url)
case_data = pd.DataFrame.from_records(data=csv_data,columns=header)
case_data['date'] = pd.to_datetime(case_data['date'])
case_data[['cases','deaths']] = case_data[['cases','deaths']].applymap(int)

In [6]:
case_data.head()

        date     county       state   fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061      1       0
1 2020-01-22  Snohomish  Washington  53061      1       0
2 2020-01-23  Snohomish  Washington  53061      1       0
3 2020-01-24       Cook    Illinois  17031      1       0
4 2020-01-24  Snohomish  Washington  53061      1       0

In [17]:
case_data.pivot_table(index='date', columns='state', values='cases', aggfunc=sum).plot.line(figsize=(15,15))

#.groupby(['date','state']).sum()['cases'].plot.line()

NameError: name 'case_data' is not defined

In [18]:
# cloned from https://github.com/CSSEGISandData/COVID-19

jh_path = r'../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/03-31-2020.csv'

In [20]:
header, csv_data = read_local_csv(jh_path)

In [21]:
header

['FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'Combined_Key']

In [24]:
jh_data = pd.DataFrame.from_records(csv_data, columns=header)

In [25]:
jh_data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001,Abbeville,South Carolina,US,2020-03-31 23:43:56,34.22333378,-82.46170658,4,0,0,0,"Abbeville, South Carolina, US"
1,22001,Acadia,Louisiana,US,2020-03-31 23:43:56,30.295064899999996,-92.41419698,39,1,0,0,"Acadia, Louisiana, US"
2,51001,Accomack,Virginia,US,2020-03-31 23:43:56,37.76707161,-75.63234615,7,0,0,0,"Accomack, Virginia, US"
3,16001,Ada,Idaho,US,2020-03-31 23:43:56,43.4526575,-116.24155159999998,195,3,0,0,"Ada, Idaho, US"
4,19001,Adair,Iowa,US,2020-03-31 23:43:56,41.33075609,-94.47105874,1,0,0,0,"Adair, Iowa, US"
5,29001,Adair,Missouri,US,2020-03-31 23:43:56,40.19058551,-92.60078167,2,0,0,0,"Adair, Missouri, US"
6,40001,Adair,Oklahoma,US,2020-03-31 23:43:56,35.88494195,-94.65859267,4,0,0,0,"Adair, Oklahoma, US"
7,08001,Adams,Colorado,US,2020-03-31 23:43:56,39.87432092,-104.3362578,181,2,0,0,"Adams, Colorado, US"
8,17001,Adams,Illinois,US,2020-03-31 23:43:56,39.98815591,-91.18786813,2,0,0,0,"Adams, Illinois, US"
9,18001,Adams,Indiana,US,2020-03-31 23:43:56,40.7457653,-84.93671406,1,0,0,0,"Adams, Indiana, US"
10,28001,Adams,Mississippi,US,2020-03-31 23:43:56,31.47669768,-91.35326037,10,0,0,0,"Adams, Mississippi, US"
11,31001,Adams,Nebraska,US,2020-03-31 23:43:56,40.52449420000001,-98.50117804,3,0,0,0,"Adams, Nebraska, US"
12,42001,Adams,Pennsylvania,US,2020-03-31 23:43:56,39.87140411,-77.21610347,9,0,0,0,"Adams, Pennsylvania, US"
13,53001,Adams,Washington,US,2020-03-31 23:43:56,46.98299757,-118.56017340000001,13,0,0,0,"Adams, Washington, US"
14,50001,Addison,Vermont,US,2020-03-31 23:43:56,44.03217337,-73.14130877,23,0,0,0,"Addison, Vermont, US"
15,45003,Aiken,South Carolina,US,2020-03-31 23:43:56,33.54338026,-81.63645384,13,1,0,0,"Aiken, South Carolina, US"
16,12001,Alachua,Florida,US,2020-03-31 23:43:56,29.67866525,-82.35928158,87,0,0,0,"Alachua, Florida, US"
17,37001,Alamance,North Carolina,US,2020-03-31 23:43:56,36.0434701,-79.39976137,7,0,0,0,"Alamance, North Carolina, US"
18,06001,Alameda,California,US,2020-03-31 23:43:56,37.64629437,-121.8929271,313,7,0,0,"Alameda, California, US"
19,08003,Alamosa,Colorado,US,2020-03-31 23:43:56,37.57250606,-105.7885451,1,0,0,0,"Alamosa, Colorado, US"
20,36001,Albany,New York,US,2020-03-31 23:43:56,42.60060306,-73.97723916,226,1,0,0,"Albany, New York, US"
21,56001,Albany,Wyoming,US,2020-03-31 23:43:56,41.65498705,-105.72354150000001,1,0,0,0,"Albany, Wyoming, US"
22,51003,Albemarle,Virginia,US,2020-03-31 23:43:56,38.02080697,-78.55481085,21,0,0,0,"Albemarle, Virginia, US"
23,28003,Alcorn,Mississippi,US,2020-03-31 23:43:56,34.88084463,-88.57996173,3,0,0,0,"Alcorn, Mississippi, US"
24,37003,Alexander,North Carolina,US,2020-03-31 23:43:56,35.922379600000006,-81.17751948,2,0,0,0,"Alexander, North Carolina, US"
25,51510,Alexandria,Virginia,US,2020-03-31 23:43:56,38.814003,-77.08183073,30,0,0,0,"Alexandria, Virginia, US"
26,19005,Allamakee,Iowa,US,2020-03-31 23:43:56,43.28383218,-91.37860922,7,1,0,0,"Allamakee, Iowa, US"
27,26005,Allegan,Michigan,US,2020-03-31 23:43:56,42.59147037,-85.89102866,3,0,0,0,"Allegan, Michigan, US"
28,36003,Allegany,New York,US,2020-03-31 23:43:56,42.25748406,-78.02750466,9,1,0,0,"Allegany, New York, US"
29,37005,Alleghany,North Carolina,US,2020-03-31 23:43:56,36.49360862,-81.12857041,2,0,0,0,"Alleghany, North Carolina, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2404,,,,Slovakia,2020-03-31 23:43:43,48.669,19.699,363,0,3,360,Slovakia
2405,,,,Slovenia,2020-03-31 23:43:43,46.1512,14.9955,802,15,10,777,Slovenia
2406,,,,Somalia,2020-03-31 23:43:43,5.152149,46.199616,5,0,1,4,Somalia
2407,,,,South Africa,2020-03-31 23:43:43,-30.5595,22.9375,1353,5,31,1317,South Africa
2408,,,,Spain,2020-03-31 23:43:43,40.463667,-3.7492199999999998,95923,8464,19259,68200,Spain
2409,,,,Sri Lanka,2020-03-31 23:43:43,7.873054,80.77179699999998,143,2,17,124,Sri Lanka
2410,,,,Sudan,2020-03-31 23:43:43,12.8628,30.2176,7,2,1,4,Sudan
2411,,,,Suriname,2020-03-31 23:43:43,3.9193,-56.0278,9,0,0,9,Suriname
2412,,,,Sweden,2020-03-31 23:43:43,60.128161,18.643501,4435,180,16,4239,Sweden
2413,,,,Switzerland,2020-03-31 23:43:43,46.8182,8.2275,16605,433,1823,14349,Switzerland
2414,,,,Syria,2020-03-31 23:43:43,34.802075,38.99681500000001,10,2,0,8,Syria
2415,,,,Taiwan*,2020-03-31 07:26:59,23.7,121.0,322,5,39,278,Taiwan*
2416,,,,Tanzania,2020-03-31 23:43:43,-6.369028,34.888822,19,1,1,17,Tanzania
2417,,,,Thailand,2020-03-31 23:43:43,15.870032,100.992541,1651,10,342,1299,Thailand
2418,,,,Timor-Leste,2020-03-31 23:43:43,-8.874217,125.727539,1,0,0,1,Timor-Leste
2419,,,,Togo,2020-03-31 23:43:43,8.6195,0.8248,34,1,10,23,Togo
2420,,,,Trinidad and Tobago,2020-03-31 23:43:43,10.6918,-61.2225,87,3,1,83,Trinidad and Tobago
2421,,,,Tunisia,2020-03-31 23:43:43,33.886917,9.537499,394,10,3,381,Tunisia
2422,,,,Turkey,2020-03-31 23:43:43,38.9637,35.2433,13531,214,243,13074,Turkey
2423,,,,Uganda,2020-03-31 23:43:43,1.373333,32.290275,44,0,0,44,Uganda
2424,,,,Ukraine,2020-03-31 23:43:43,48.3794,31.1656,645,17,10,618,Ukraine
2425,,,,United Arab Emirates,2020-03-31 23:43:43,23.424076,53.847818000000004,664,6,61,597,United Arab Emirates
2426,,,,United Kingdom,2020-03-31 23:43:43,55.3781,-3.4360000000000004,25150,1789,135,23226,United Kingdom
2427,,,,Uruguay,2020-03-31 23:43:43,-32.5228,-55.7658,338,1,41,296,Uruguay
2428,,,,Uzbekistan,2020-03-31 23:43:43,41.377491,64.585262,172,2,7,163,Uzbekistan
2429,,,,Venezuela,2020-03-31 23:43:43,6.4238,-66.5897,135,3,39,93,Venezuela
2430,,,,Vietnam,2020-03-31 23:43:43,14.058323999999999,108.277199,212,0,58,154,Vietnam
2431,,,,West Bank and Gaza,2020-03-31 23:43:43,31.9522,35.2332,119,1,18,100,West Bank and Gaza
2432,,,,Zambia,2020-03-31 23:43:43,-13.133897,27.849332,35,0,0,35,Zambia
2433,,,,Zimbabwe,2020-03-31 23:43:43,-19.015438,29.154857,8,1,0,7,Zimbabwe